<div class="footer">
  <a class="logo" routerLink="/">
    <h1>Logo</h1>
  </a>

  <div class="list__contact">
    <ul>
      <li>mail</li>
      <li>facebook</li>
      <li>github</li>
      <li>linkerIn</li>
      <li>youtobe</li>
    </ul>
  </div>

  <div class="list__contact">
    <ul>
      <li>mail</li>
      <li>facebook</li>
      <li>github</li>
      <li>linkerIn</li>
      <li>youtobe</li>
    </ul>
  </div>

  <div class="list__contact">
    <ul>
      <li>mail</li>
      <li>facebook</li>
      <li>github</li>
      <li>linkerIn</li>
      <li>youtobe</li>
    </ul>
  </div>
</div>
