
<nav class="header">
  <a routerLink="/">
    <h1>Bài thực hành</h1>
  </a>
  <ul class="d-flex justify-content-around list-unstyled">
    <li>
      <a routerLink="/pet" routerLinkActive="active">Pet</a>
    </li>
    <li>
      <a routerLink="/font" routerLinkActive="active">ChangeFont</a>
    </li>

    <li>
      <a routerLink="/product" routerLinkActive="active">Product</a>
    </li>

    <li>
      <a routerLink="/calculator" routerLinkActive="active">Calculator</a>
    </li>


    <li>
      <a routerLink="/colorpicker" routerLinkActive="active">Color picker</a>
    </li>

    <li>
      <a routerLink="/hackernews" routerLinkActive="active">hacker news</a>
    </li>
  </ul>
</nav>
